body{
    background-color: rgb(251, 227, 8);
    color: rgb(36, 24, 85);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

li{
    display: inline-block;
    margin: 20px;
}

h2{
    font-size: 54px;
    line-height: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}